@model Person


<tr data-modelid="@Model.Id">
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@Model.City</td>
    <td>
        <a asp-action="EditPerson" asp-route-id="@Model.Id" class="btn-button edit-button">EDIT</a>
        <a onclick="deletePerson(@Model.Id)" class="btn-button delete-button">REMOVE</a>
    </td>
</tr>
